# Let do this!

## 2016 Data

In [96]:
#!/usr/bin/env python

import glob
import pandas as pd

from collections import Counter
file_dir = 'datasets/ms_survey_feedback/2016/'



#Get all files except for wierdy week 8 one
filenames = glob.glob(file_dir + 'Anon Week * Feedback - *.csv')

#Display table of all files in 2016 directory
# all_files = glob.glob(file_dir + '*.csv')
# pd.set_option('display.max_colwidth', 2000)
# print("These are all of the 2016 Filenames")
# display(pd.DataFrame(all_files))

#Get wierdy week 8 file
week_8 = glob.glob(file_dir + '*Week 8*')
w8_df = pd.read_csv(week_8[0])
# print("\n\nDescription of Week 8 Data")
# display(w8_df.describe())
# display(w8_df.head())

#instantiate list to append columns to
col_number = list()
col_headers = list()

# print(filenames)
#Create list of column names to extract from filenames
df_2016 = pd.DataFrame([])
list_2016 = list()
print("number of files:", len(filenames))
week_set = set()
city_set = set()
for file_name in filenames:
    rows = list()

    
    file_data = file_name.split(" ")
    week = file_data[2]
    city_list = file_data[-1].split('.')
    city = city_list[0]
    file_df = pd.read_csv(file_name)
    
    week_set.add(week)
    city_set.add(city)
    
    week_data = list()
    city_data = list()

    for _ in range(0, len(file_df)):
        week_data.append(week)
        city_data.append(city)

    file_df["Week"] = week_data
    file_df["City"] = city_data
    list_2016.append(file_df)
    
df_2016 = pd.concat(list_2016)    
if len(week_set) is not len(city_set):
    print("dimension mismatch")
    print("weeks", len(week_set))
    print("Cities", len(city_set))
    

display(df_2016)



# goose = pd.DataFrame([["one", "two"], ["two", "Three"]], columns=["one", "Two"])
# display(goose)

# duck = pd.DataFrame([["duck", "tuck"], ["muck", "luck"]], columns=["ruckus", "muckus"])
# display(duck)

# birds = [goose, duck]

# fritters = pd.concat(birds)
# display(fritters)
         




num_headers = dict(Counter(col_headers))


headers_df = pd.DataFrame(list(num_headers.items()))

number of files: 39
dimension mismatch
weeks 7
Cities 9

,City,How well are the tutorials paced?,How well is the schedule paced?,How would you rate your overall satisfaction with the Summer Academy this week?,Timestamp,Unnamed: 0,Week,What track are you in?
0,Taipei,NaN,3,3,8/5/2016 1:39:41,NaN,7,NaN
1,Taipei,NaN,3,4,8/5/2016 1:40:47,NaN,7,NaN
2,Taipei,NaN,3,4,8/5/2016 1:40:50,NaN,7,NaN
3,Taipei,NaN,4,4,8/5/2016 1:42:44,NaN,7,NaN
4,Taipei,NaN,4,5,8/5/2016 1:45:13,NaN,7,NaN
5,Taipei,NaN,3,4,8/5/2016 1:45:39,NaN,7,NaN
6,Taipei,NaN,3,4,8/5/2016 1:49:21,NaN,7,NaN
7,Taipei,NaN,3,5,8/8/2016 1:30:34,NaN,7,NaN
8,Taipei,NaN,3,5,8/8/2016 1:33:45,NaN,7,NaN
9,Taipei,NaN,3,5,8/8/2016 1:49:29,NaN,7,NaN
10,Taipei,NaN,3,3,8/8/2016 1:51:00,NaN,7,NaN
0,Tokyo,NaN,4,3,7/31/2016 1:04:57,NaN,6,NaN
1,Tokyo,NaN,3,4,7/31/2016 3:38:14,NaN,6,NaN
2,Tokyo,NaN,1,4,7/31/2016 3:59:43,NaN,6,NaN
3,Tokyo,NaN,2,4,7/31/2016 4:19:51,NaN,6,NaN
4,Tokyo,NaN,4,5,7/31/2016 5:14:20,NaN,6,NaN
5,Tokyo,NaN,3,3,7/31/2016 6:50:12,NaN,6,NaN
6,Tokyo,NaN,5,5,7/31/2016 15:23:52,NaN,6,NaN
7,Tokyo,NaN,2,4,7/31/2016 16:49:45,NaN,6,NaN
8,Tokyo,NaN,4,3,8/1/2016 1:18:47,NaN,6,NaN
9,Tokyo,NaN,3,5,8/1/2016 1:30:17,NaN,6,NaN
10,Tokyo,NaN,3,5,8/1/2016 1:30:17,NaN,6,NaN
11,Tokyo,NaN,4,4,8/1/2016 6:15:10,NaN,6,NaN
12,Tokyo,NaN,3,4,8/1/2016 7:56:08,NaN,6,NaN
0,Singapore,3.0,NaN,2,6/23/2016 22:24:53,NaN,1,NaN
1,Singapore,3.0,NaN,2,6/27/2016 4:03:03,NaN,1,NaN
2,Singapore,3.0,NaN,3,6/23/2016 22:13:04,NaN,1,NaN
3,Singapore,4.0,NaN,4,6/23/2016 22:09:23,NaN,1,NaN
4,Singapore,4.0,NaN,4,6/23/2016 22:11:39,NaN,1,NaN
5,Singapore,4.0,NaN,4,6/23/2016 22:11:44,NaN,1,NaN
...,...,...,...,...,...,...,...,...
7,SV,NaN,4,3,7/8/2016 16:40:10,NaN,3,Apps
8,SV,NaN,4,4,7/8/2016 13:58:12,NaN,3,Apps
9,SV,NaN,4,3,7/8/2016 13:53:19,NaN,3,Apps
10,SV,NaN,2,3,7/8/2016 15:59:30,NaN,3,Apps
11,SV,NaN,4,5,7/8/2016 16:11:32,NaN,3,Apps
12,SV,NaN,5,5,7/8/2016 12:49:05,NaN,3,Games
13,SV,NaN,3,4,7/8/2016 12:49:16,NaN,3,Games
14,SV,NaN,3,5,7/8/2016 12:47:42,NaN,3,Games
15,SV,NaN,3,5,7/8/2016 12:43:44,NaN,3,Intro
16,SV,NaN,3,4,7/8/2016 13:55:51,NaN,3,Apps
17,SV,NaN,3,5,7/8/2016 14:02:54,NaN,3,Games
18,SV,NaN,3,5,7/8/2016 14:29:22,NaN,3,Games
19,SV,NaN,2,5,7/9/2016 17:05:33,NaN,3,Games
20,SV,NaN,3,3,7/8/2016 16:55:21,NaN,3,Apps
21,SV,NaN,3,3,7/8/2016 16:08:13,NaN,3,Games
22,SV,NaN,3,4,7/8/2016 13:56:39,NaN,3,Apps
23,SV,NaN,2,4,7/8/2016 14:03:35,NaN,3,Apps
24,SV,NaN,5,4,7/8/2016 13:51:14,NaN,3,Games
25,SV,NaN,4,4,7/8/2016 12:41:10,NaN,3,Intro
26,SV,NaN,4,4,7/8/2016 12:41:13,NaN,3,Intro
27,SV,NaN,3,4,7/8/2016 12:41:51,NaN,3,Intro
28,SV,NaN,3,4,7/8/2016 12:43:35,NaN,3,Intro
29,SV,NaN,3,4,7/8/2016 12:45:11,NaN,3,Intro
30,SV,NaN,3,4,7/8/2016 12:47:39,NaN,3,Intro
31,SV,NaN,4,4,7/8/2016 13:01:58,NaN,3,Intro
32,SV,NaN,4,4,7/10/2016 23:44:41,NaN,3,Games
33,SV,NaN,#REF!,#REF!,NaN,NaN,3,Average:
34,SV,NaN,3,5,7/8/2016 16:41:06,NaN,3,Apps
35,SV,NaN,3,5,7/8/2016 13:07:39,NaN,3,Games
36,SV,NaN,3,5,7/8/2016 12:45:02,NaN,3,Intro

In [ ]:
#w8_df is week 8 data frame
#all_headers - list of all headers

Timestamp
How would you rate your overall satisfaction with the Summer Academy this week?
How well is the schedule paced?
Timestamp
How would you rate your overall satisfaction with the Summer Academy this week?
How well is the schedule paced?
Timestamp
How would you rate your overall satisfaction with the Summer Academy this week?
How well are the tutorials paced?
Timestamp
What track are you in?
How would you rate your overall satisfaction with the Summer Academy this week?
How well is the schedule paced?
What track are you in?
Timestamp
How would you rate your overall satisfaction with the Summer Academy this week?
How well is the schedule paced?
Timestamp
What track are you in?
How would you rate your overall satisfaction with the Summer Academy this week?
How well is the schedule paced?
Timestamp
How would you rate your overall satisfaction with the Summer Academy this week?
How well is the schedule paced?
Timestamp
What track are you in?
How would you rate your overall satisfaction with the Summer Academy this week?
How well is the schedule paced?
Timestamp
How would you rate your overall satisfaction with the Summer Academy this week?
How well are the tutorials paced?
What track are you in?
Timestamp
How would you rate your overall satisfaction with the Summer Academy this week?
How well are the tutorials paced?
Timestamp
How would you rate your overall satisfaction with the Summer Academy this week?
How well is the schedule paced?
Timestamp
How would you rate your overall satisfaction with the Summer Academy this week?
How well is the schedule paced?
Timestamp
What track are you in?
How would you rate your overall satisfaction with the Summer Academy this week?
How well is the schedule paced?
Timestamp
What track are you in?
How would you rate your overall satisfaction with the Summer Academy this week?
How well is the schedule paced?
What track are you in?
How would you rate your overall satisfaction with the Summer Academy this week?
How well is the schedule paced?
Timestamp
How would you rate your overall satisfaction with the Summer Academy this week?
How well is the schedule paced?
Timestamp
What track are you in?
How would you rate your overall satisfaction with the Summer Academy this week?
How well is the schedule paced?
Timestamp
What track are you in?
How would you rate your overall satisfaction with the Summer Academy this week?
How well is the schedule paced?
Timestamp
How would you rate your overall satisfaction with the Summer Academy this week?
How well is the schedule paced?
Timestamp
What track are you in?
How would you rate your overall satisfaction with the Summer Academy this week?
How well is the schedule paced?
Unnamed: 0
What track are you in?
How would you rate your overall satisfaction with the Summer Academy this week?
How well are the tutorials paced?
Timestamp
What track are you in?
How would you rate your overall satisfaction with the Summer Academy this week?
How well is the schedule paced?
What track are you in?
Timestamp
How would you rate your overall satisfaction with the Summer Academy this week?
How well is the schedule paced?
Timestamp
How would you rate your overall satisfaction with the Summer Academy this week?
How well is the schedule paced?
Timestamp
What track are you in?
How would you rate your overall satisfaction with the Summer Academy this week?
How well is the schedule paced?
Timestamp
What track are you in?
How would you rate your overall satisfaction with the Summer Academy this week?
How well is the schedule paced?
What track are you in?
Timestamp
How would you rate your overall satisfaction with the Summer Academy this week?
How well is the schedule paced?
What track are you in?
Timestamp
How would you rate your overall satisfaction with the Summer Academy this week?
How well are the tutorials paced?
Timestamp
What track are you in?
How would you rate your overall satisfaction with the Summer Academy this week?
How well is the schedule paced?
Timestamp
How would you rate your overall satisfaction with the Summer Academy this week?
How well is the schedule paced?
Timestamp
How would you rate your overall satisfaction with the Summer Academy this week?
How well is the schedule paced?
What track are you in?
Timestamp
How would you rate your overall satisfaction with the Summer Academy this week?
How well is the schedule paced?
Timestamp
What track are you in?
How would you rate your overall satisfaction with the Summer Academy this week?
How well is the schedule paced?
Timestamp
How would you rate your overall satisfaction with the Summer Academy this week?
How well is the schedule paced?
Timestamp
What track are you in?
How would you rate your overall satisfaction with the Summer Academy this week?
How well is the schedule paced?
What track are you in?
Timestamp
How would you rate your overall satisfaction with the Summer Academy this week?
How well is the schedule paced?
Timestamp
How would you rate your overall satisfaction with the Summer Academy this week?
How well are the tutorials paced?
Timestamp
How would you rate your overall satisfaction with the Summer Academy this week?
How well is the schedule paced?
Timestamp
What track are you in?
How would you rate your overall satisfaction with the Summer Academy this week?
How well is the schedule paced?