# Let do this!

## 2016 Data

In [37]:
#!/usr/bin/env python

import glob
import pandas as pd
import numpy as np
from pandas.api.types import is_numeric_dtype
from collections import Counter
%matplotlib inline
file_dir = 'datasets/ms_survey_feedback/2016/'

#Get all files except for wierdy week 8 one
filenames = glob.glob(file_dir + 'Anon Week * Feedback - *.csv')


#Get wierdy week 8 file
week_8 = glob.glob(file_dir + '*Week 8*')
w8_df = pd.read_csv(week_8[0])

#instantiate list to append columns to
col_number = list()
col_headers = list()

#Create list of column names to extract from filenames
df_2016 = pd.DataFrame([])
list_2016 = list()
print("number of files:", len(filenames))
week_set = set()
city_set = set()
for file_name in filenames:
    rows = list()
    file_data = file_name.split(" ")
    week = file_data[2]
    city_list = file_data[-1].split('.')
    city = city_list[0]
    file_df = pd.read_csv(file_name)
    
    week_set.add(week)
    city_set.add(city)
    
    week_data = list()
    city_data = list()

    for _ in range(0, len(file_df)):
        week_data.append(week)
        city_data.append(city)

    file_df["Week"] = week_data
    file_df["City"] = city_data
    list_2016.append(file_df)
    
df_2016 = pd.concat(list_2016)

display(df_2016)

# goose = pd.DataFrame([["one", "two"], ["two", "Three"]], columns=["one", "Two"])
# display(goose)

# duck = pd.DataFrame([["duck", "tuck"], ["muck", "luck"]], columns=["ruckus", "muckus"])
# display(duck)

# birds = [goose, duck]

# fritters = pd.concat(birds)
# display(fritters)

number of files: 39

,City,How well are the tutorials paced?,How well is the schedule paced?,How would you rate your overall satisfaction with the Summer Academy this week?,Timestamp,Unnamed: 0,Week,What track are you in?
0,Taipei,NaN,3.0,3,8/5/2016 1:39:41,NaN,7,NaN
1,Taipei,NaN,3.0,4,8/5/2016 1:40:47,NaN,7,NaN
2,Taipei,NaN,3.0,4,8/5/2016 1:40:50,NaN,7,NaN
3,Taipei,NaN,4.0,4,8/5/2016 1:42:44,NaN,7,NaN
4,Taipei,NaN,4.0,5,8/5/2016 1:45:13,NaN,7,NaN
5,Taipei,NaN,3.0,4,8/5/2016 1:45:39,NaN,7,NaN
6,Taipei,NaN,3.0,4,8/5/2016 1:49:21,NaN,7,NaN
7,Taipei,NaN,3.0,5,8/8/2016 1:30:34,NaN,7,NaN
8,Taipei,NaN,3.0,5,8/8/2016 1:33:45,NaN,7,NaN
9,Taipei,NaN,3.0,5,8/8/2016 1:49:29,NaN,7,NaN
10,Taipei,NaN,3.0,3,8/8/2016 1:51:00,NaN,7,NaN
0,Tokyo,NaN,4.0,3,7/31/2016 1:04:57,NaN,6,NaN
1,Tokyo,NaN,3.0,4,7/31/2016 3:38:14,NaN,6,NaN
2,Tokyo,NaN,1.0,4,7/31/2016 3:59:43,NaN,6,NaN
3,Tokyo,NaN,2.0,4,7/31/2016 4:19:51,NaN,6,NaN
4,Tokyo,NaN,4.0,5,7/31/2016 5:14:20,NaN,6,NaN
5,Tokyo,NaN,3.0,3,7/31/2016 6:50:12,NaN,6,NaN
6,Tokyo,NaN,5.0,5,7/31/2016 15:23:52,NaN,6,NaN
7,Tokyo,NaN,2.0,4,7/31/2016 16:49:45,NaN,6,NaN
8,Tokyo,NaN,4.0,3,8/1/2016 1:18:47,NaN,6,NaN
9,Tokyo,NaN,3.0,5,8/1/2016 1:30:17,NaN,6,NaN
10,Tokyo,NaN,3.0,5,8/1/2016 1:30:17,NaN,6,NaN
11,Tokyo,NaN,4.0,4,8/1/2016 6:15:10,NaN,6,NaN
12,Tokyo,NaN,3.0,4,8/1/2016 7:56:08,NaN,6,NaN
0,Singapore,3.0,NaN,2,6/23/2016 22:24:53,NaN,1,NaN
1,Singapore,3.0,NaN,2,6/27/2016 4:03:03,NaN,1,NaN
2,Singapore,3.0,NaN,3,6/23/2016 22:13:04,NaN,1,NaN
3,Singapore,4.0,NaN,4,6/23/2016 22:09:23,NaN,1,NaN
4,Singapore,4.0,NaN,4,6/23/2016 22:11:39,NaN,1,NaN
5,Singapore,4.0,NaN,4,6/23/2016 22:11:44,NaN,1,NaN
...,...,...,...,...,...,...,...,...
6,SV,NaN,4.0,4,7/8/2016 14:03:46,NaN,3,Apps
7,SV,NaN,4.0,3,7/8/2016 16:40:10,NaN,3,Apps
8,SV,NaN,4.0,4,7/8/2016 13:58:12,NaN,3,Apps
9,SV,NaN,4.0,3,7/8/2016 13:53:19,NaN,3,Apps
10,SV,NaN,2.0,3,7/8/2016 15:59:30,NaN,3,Apps
11,SV,NaN,4.0,5,7/8/2016 16:11:32,NaN,3,Apps
12,SV,NaN,5.0,5,7/8/2016 12:49:05,NaN,3,Games
13,SV,NaN,3.0,4,7/8/2016 12:49:16,NaN,3,Games
14,SV,NaN,3.0,5,7/8/2016 12:47:42,NaN,3,Games
15,SV,NaN,3.0,5,7/8/2016 12:43:44,NaN,3,Intro
16,SV,NaN,3.0,4,7/8/2016 13:55:51,NaN,3,Apps
17,SV,NaN,3.0,5,7/8/2016 14:02:54,NaN,3,Games
18,SV,NaN,3.0,5,7/8/2016 14:29:22,NaN,3,Games
19,SV,NaN,2.0,5,7/9/2016 17:05:33,NaN,3,Games
20,SV,NaN,3.0,3,7/8/2016 16:55:21,NaN,3,Apps
21,SV,NaN,3.0,3,7/8/2016 16:08:13,NaN,3,Games
22,SV,NaN,3.0,4,7/8/2016 13:56:39,NaN,3,Apps
23,SV,NaN,2.0,4,7/8/2016 14:03:35,NaN,3,Apps
24,SV,NaN,5.0,4,7/8/2016 13:51:14,NaN,3,Games
25,SV,NaN,4.0,4,7/8/2016 12:41:10,NaN,3,Intro
26,SV,NaN,4.0,4,7/8/2016 12:41:13,NaN,3,Intro
27,SV,NaN,3.0,4,7/8/2016 12:41:51,NaN,3,Intro
28,SV,NaN,3.0,4,7/8/2016 12:43:35,NaN,3,Intro
29,SV,NaN,3.0,4,7/8/2016 12:45:11,NaN,3,Intro
30,SV,NaN,3.0,4,7/8/2016 12:47:39,NaN,3,Intro
31,SV,NaN,4.0,4,7/8/2016 13:01:58,NaN,3,Intro
32,SV,NaN,4.0,4,7/10/2016 23:44:41,NaN,3,Games
33,SV,NaN,3.0,5,7/8/2016 16:41:06,NaN,3,Apps
34,SV,NaN,3.0,5,7/8/2016 13:07:39,NaN,3,Games
35,SV,NaN,3.0,5,7/8/2016 12:45:02,NaN,3,Intro

In [38]:
#w8_df is week 8 data frame
#Tracking Satisfaction

#df_2016 

print(df_2016.City.unique())

['Taipei' 'Tokyo' 'Singapore' 'LA' 'SF' 'SV' 'SG' 'NY' 'HK']

In [56]:
for city in df_2016.City.unique():
    #get weekly average scores per city
    avg_list = list()
    happy_key = "How would you rate your overall satisfaction with the Summer Academy this week?"
    for week in df_2016.Week.unique():
        by_week = df_2016.loc[df_2016["Week"] == week ]
        by_weekcity = by_week.loc[by_week.City == city]
        #display(by_weekcity["How would you rate your overall satisfaction with the Summer Academy this week?"].mean())
        print("Week:", week)
        print("City:", city)
        display(by_weekcity[happy_key].describe())
#         display(by_weekcity[happy_key].mean())
        
#         df_2016[df_2016["City"] == city]

# histogram = df_2016[happy_key].hist(bins=5, figsize=(20,10))
# histogram.set_title("overall satisfaction")
# display(histogram)

# df_2016.head()
# df_2016[happy_key].hist()

Week: 7
City: Taipei

count    11.000000
mean      4.181818
std       0.750757
min       3.000000
25%       4.000000
50%       4.000000
75%       5.000000
max       5.000000
Name: How would you rate your overall satisfaction with the Summer Academy this week?, dtype: float64

Week: 6
City: Taipei

count    12.000000
mean      4.416667
std       0.792961
min       3.000000
25%       4.000000
50%       5.000000
75%       5.000000
max       5.000000
Name: How would you rate your overall satisfaction with the Summer Academy this week?, dtype: float64

Week: 1
City: Taipei

count    0.0
mean     NaN
std      NaN
min      NaN
25%      NaN
50%      NaN
75%      NaN
max      NaN
Name: How would you rate your overall satisfaction with the Summer Academy this week?, dtype: float64

Week: 4
City: Taipei

count    0.0
mean     NaN
std      NaN
min      NaN
25%      NaN
50%      NaN
75%      NaN
max      NaN
Name: How would you rate your overall satisfaction with the Summer Academy this week?, dtype: float64

Week: 5
City: Taipei

count    0.0
mean     NaN
std      NaN
min      NaN
25%      NaN
50%      NaN
75%      NaN
max      NaN
Name: How would you rate your overall satisfaction with the Summer Academy this week?, dtype: float64

Week: 2
City: Taipei

count    0.0
mean     NaN
std      NaN
min      NaN
25%      NaN
50%      NaN
75%      NaN
max      NaN
Name: How would you rate your overall satisfaction with the Summer Academy this week?, dtype: float64

Week: 3
City: Taipei

count    0.0
mean     NaN
std      NaN
min      NaN
25%      NaN
50%      NaN
75%      NaN
max      NaN
Name: How would you rate your overall satisfaction with the Summer Academy this week?, dtype: float64

Week: 7
City: Tokyo

count    0.0
mean     NaN
std      NaN
min      NaN
25%      NaN
50%      NaN
75%      NaN
max      NaN
Name: How would you rate your overall satisfaction with the Summer Academy this week?, dtype: float64

Week: 6
City: Tokyo

count    13.000000
mean      4.076923
std       0.759555
min       3.000000
25%       4.000000
50%       4.000000
75%       5.000000
max       5.000000
Name: How would you rate your overall satisfaction with the Summer Academy this week?, dtype: float64

Week: 1
City: Tokyo

count    0.0
mean     NaN
std      NaN
min      NaN
25%      NaN
50%      NaN
75%      NaN
max      NaN
Name: How would you rate your overall satisfaction with the Summer Academy this week?, dtype: float64

Week: 4
City: Tokyo

count    0.0
mean     NaN
std      NaN
min      NaN
25%      NaN
50%      NaN
75%      NaN
max      NaN
Name: How would you rate your overall satisfaction with the Summer Academy this week?, dtype: float64

Week: 5
City: Tokyo

count    0.0
mean     NaN
std      NaN
min      NaN
25%      NaN
50%      NaN
75%      NaN
max      NaN
Name: How would you rate your overall satisfaction with the Summer Academy this week?, dtype: float64

Week: 2
City: Tokyo

count    0.0
mean     NaN
std      NaN
min      NaN
25%      NaN
50%      NaN
75%      NaN
max      NaN
Name: How would you rate your overall satisfaction with the Summer Academy this week?, dtype: float64

Week: 3
City: Tokyo

count    0.0
mean     NaN
std      NaN
min      NaN
25%      NaN
50%      NaN
75%      NaN
max      NaN
Name: How would you rate your overall satisfaction with the Summer Academy this week?, dtype: float64

Week: 7
City: Singapore

count    0.0
mean     NaN
std      NaN
min      NaN
25%      NaN
50%      NaN
75%      NaN
max      NaN
Name: How would you rate your overall satisfaction with the Summer Academy this week?, dtype: float64

Week: 6
City: Singapore

count    0.0
mean     NaN
std      NaN
min      NaN
25%      NaN
50%      NaN
75%      NaN
max      NaN
Name: How would you rate your overall satisfaction with the Summer Academy this week?, dtype: float64

Week: 1
City: Singapore

count    12.000000
mean      3.666667
std       0.887625
min       2.000000
25%       3.750000
50%       4.000000
75%       4.000000
max       5.000000
Name: How would you rate your overall satisfaction with the Summer Academy this week?, dtype: float64

Week: 4
City: Singapore

count    0.0
mean     NaN
std      NaN
min      NaN
25%      NaN
50%      NaN
75%      NaN
max      NaN
Name: How would you rate your overall satisfaction with the Summer Academy this week?, dtype: float64

Week: 5
City: Singapore

count    0.0
mean     NaN
std      NaN
min      NaN
25%      NaN
50%      NaN
75%      NaN
max      NaN
Name: How would you rate your overall satisfaction with the Summer Academy this week?, dtype: float64

Week: 2
City: Singapore

count    0.0
mean     NaN
std      NaN
min      NaN
25%      NaN
50%      NaN
75%      NaN
max      NaN
Name: How would you rate your overall satisfaction with the Summer Academy this week?, dtype: float64

Week: 3
City: Singapore

count    0.0
mean     NaN
std      NaN
min      NaN
25%      NaN
50%      NaN
75%      NaN
max      NaN
Name: How would you rate your overall satisfaction with the Summer Academy this week?, dtype: float64

Week: 7
City: LA

count    9.000000
mean     4.333333
std      0.707107
min      3.000000
25%      4.000000
50%      4.000000
75%      5.000000
max      5.000000
Name: How would you rate your overall satisfaction with the Summer Academy this week?, dtype: float64

Week: 6
City: LA

count    10.000000
mean      4.100000
std       1.286684
min       1.000000
25%       4.000000
50%       4.500000
75%       5.000000
max       5.000000
Name: How would you rate your overall satisfaction with the Summer Academy this week?, dtype: float64

Week: 1
City: LA

count    7.000000
mean     4.142857
std      0.690066
min      3.000000
25%      4.000000
50%      4.000000
75%      4.500000
max      5.000000
Name: How would you rate your overall satisfaction with the Summer Academy this week?, dtype: float64

Week: 4
City: LA

count    8.000000
mean     4.375000
std      0.744024
min      3.000000
25%      4.000000
50%      4.500000
75%      5.000000
max      5.000000
Name: How would you rate your overall satisfaction with the Summer Academy this week?, dtype: float64

Week: 5
City: LA

count    12.000000
mean      4.250000
std       0.621582
min       3.000000
25%       4.000000
50%       4.000000
75%       5.000000
max       5.000000
Name: How would you rate your overall satisfaction with the Summer Academy this week?, dtype: float64

Week: 2
City: LA

count    7.000000
mean     4.142857
std      0.690066
min      3.000000
25%      4.000000
50%      4.000000
75%      4.500000
max      5.000000
Name: How would you rate your overall satisfaction with the Summer Academy this week?, dtype: float64

Week: 3
City: LA

count    6.000000
mean     4.166667
std      0.408248
min      4.000000
25%      4.000000
50%      4.000000
75%      4.000000
max      5.000000
Name: How would you rate your overall satisfaction with the Summer Academy this week?, dtype: float64

Week: 7
City: SF

count    19.000000
mean      4.157895
std       1.167293
min       1.000000
25%       4.000000
50%       5.000000
75%       5.000000
max       5.000000
Name: How would you rate your overall satisfaction with the Summer Academy this week?, dtype: float64

Week: 6
City: SF

count    25.000000
mean      4.040000
std       1.098484
min       1.000000
25%       3.000000
50%       4.000000
75%       5.000000
max       5.000000
Name: How would you rate your overall satisfaction with the Summer Academy this week?, dtype: float64

Week: 1
City: SF

count    93.000000
mean      4.473118
std       0.618403
min       3.000000
25%       4.000000
50%       5.000000
75%       5.000000
max       5.000000
Name: How would you rate your overall satisfaction with the Summer Academy this week?, dtype: float64

Week: 4
City: SF

count    31.000000
mean      4.096774
std       0.746317
min       3.000000
25%       4.000000
50%       4.000000
75%       5.000000
max       5.000000
Name: How would you rate your overall satisfaction with the Summer Academy this week?, dtype: float64

Week: 5
City: SF

count    42.000000
mean      4.214286
std       1.048477
min       1.000000
25%       4.000000
50%       5.000000
75%       5.000000
max       5.000000
Name: How would you rate your overall satisfaction with the Summer Academy this week?, dtype: float64

Week: 2
City: SF

count    62.000000
mean      4.225806
std       0.894782
min       1.000000
25%       4.000000
50%       4.000000
75%       5.000000
max       5.000000
Name: How would you rate your overall satisfaction with the Summer Academy this week?, dtype: float64

Week: 3
City: SF

count    23.000000
mean      4.043478
std       1.223938
min       1.000000
25%       3.500000
50%       4.000000
75%       5.000000
max       5.000000
Name: How would you rate your overall satisfaction with the Summer Academy this week?, dtype: float64

Week: 7
City: SV

count    47.000000
mean      4.106383
std       0.840136
min       2.000000
25%       3.500000
50%       4.000000
75%       5.000000
max       5.000000
Name: How would you rate your overall satisfaction with the Summer Academy this week?, dtype: float64

Week: 6
City: SV

count    35.000000
mean      4.085714
std       0.781079
min       2.000000
25%       4.000000
50%       4.000000
75%       5.000000
max       5.000000
Name: How would you rate your overall satisfaction with the Summer Academy this week?, dtype: float64

Week: 1
City: SV

count    62.000000
mean      4.225806
std       0.663309
min       2.000000
25%       4.000000
50%       4.000000
75%       5.000000
max       5.000000
Name: How would you rate your overall satisfaction with the Summer Academy this week?, dtype: float64

Week: 4
City: SV

count    36.000000
mean      4.194444
std       0.749074
min       2.000000
25%       4.000000
50%       4.000000
75%       5.000000
max       5.000000
Name: How would you rate your overall satisfaction with the Summer Academy this week?, dtype: float64

Week: 5
City: SV

count    41.000000
mean      4.097561
std       0.830809
min       2.000000
25%       4.000000
50%       4.000000
75%       5.000000
max       5.000000
Name: How would you rate your overall satisfaction with the Summer Academy this week?, dtype: float64

Week: 2
City: SV

count    56.000000
mean      4.000000
std       0.713506
min       3.000000
25%       3.750000
50%       4.000000
75%       4.250000
max       5.000000
Name: How would you rate your overall satisfaction with the Summer Academy this week?, dtype: float64

Week: 3
City: SV

count    36.000000
mean      4.222222
std       0.680803
min       3.000000
25%       4.000000
50%       4.000000
75%       5.000000
max       5.000000
Name: How would you rate your overall satisfaction with the Summer Academy this week?, dtype: float64

Week: 7
City: SG

count    0.0
mean     NaN
std      NaN
min      NaN
25%      NaN
50%      NaN
75%      NaN
max      NaN
Name: How would you rate your overall satisfaction with the Summer Academy this week?, dtype: float64

Week: 6
City: SG

count    6.000000
mean     4.333333
std      0.816497
min      3.000000
25%      4.000000
50%      4.500000
75%      5.000000
max      5.000000
Name: How would you rate your overall satisfaction with the Summer Academy this week?, dtype: float64

Week: 1
City: SG

count    0.0
mean     NaN
std      NaN
min      NaN
25%      NaN
50%      NaN
75%      NaN
max      NaN
Name: How would you rate your overall satisfaction with the Summer Academy this week?, dtype: float64

Week: 4
City: SG

count    9.000000
mean     3.666667
std      0.500000
min      3.000000
25%      3.000000
50%      4.000000
75%      4.000000
max      4.000000
Name: How would you rate your overall satisfaction with the Summer Academy this week?, dtype: float64

Week: 5
City: SG

count    11.000000
mean      3.727273
std       0.646670
min       2.000000
25%       4.000000
50%       4.000000
75%       4.000000
max       4.000000
Name: How would you rate your overall satisfaction with the Summer Academy this week?, dtype: float64

Week: 2
City: SG

count    8.000000
mean     3.375000
std      0.517549
min      3.000000
25%      3.000000
50%      3.000000
75%      4.000000
max      4.000000
Name: How would you rate your overall satisfaction with the Summer Academy this week?, dtype: float64

Week: 3
City: SG

count    2.000000
mean     4.500000
std      0.707107
min      4.000000
25%      4.250000
50%      4.500000
75%      4.750000
max      5.000000
Name: How would you rate your overall satisfaction with the Summer Academy this week?, dtype: float64

Week: 7
City: NY

count    17.000000
mean      4.294118
std       0.685994
min       3.000000
25%       4.000000
50%       4.000000
75%       5.000000
max       5.000000
Name: How would you rate your overall satisfaction with the Summer Academy this week?, dtype: float64

Week: 6
City: NY

count    20.000000
mean      4.050000
std       0.944513
min       2.000000
25%       4.000000
50%       4.000000
75%       5.000000
max       5.000000
Name: How would you rate your overall satisfaction with the Summer Academy this week?, dtype: float64

Week: 1
City: NY

count    39.000000
mean      4.358974
std       0.627744
min       3.000000
25%       4.000000
50%       4.000000
75%       5.000000
max       5.000000
Name: How would you rate your overall satisfaction with the Summer Academy this week?, dtype: float64

Week: 4
City: NY

count    16.000000
mean      4.312500
std       0.478714
min       4.000000
25%       4.000000
50%       4.000000
75%       5.000000
max       5.000000
Name: How would you rate your overall satisfaction with the Summer Academy this week?, dtype: float64

Week: 5
City: NY

count    21.000000
mean      4.333333
std       0.577350
min       3.000000
25%       4.000000
50%       4.000000
75%       5.000000
max       5.000000
Name: How would you rate your overall satisfaction with the Summer Academy this week?, dtype: float64

Week: 2
City: NY

count    28.000000
mean      4.214286
std       0.686221
min       3.000000
25%       4.000000
50%       4.000000
75%       5.000000
max       5.000000
Name: How would you rate your overall satisfaction with the Summer Academy this week?, dtype: float64

Week: 3
City: NY

count    28.000000
mean      4.321429
std       0.547964
min       3.000000
25%       4.000000
50%       4.000000
75%       5.000000
max       5.000000
Name: How would you rate your overall satisfaction with the Summer Academy this week?, dtype: float64

Week: 7
City: HK

count    0.0
mean     NaN
std      NaN
min      NaN
25%      NaN
50%      NaN
75%      NaN
max      NaN
Name: How would you rate your overall satisfaction with the Summer Academy this week?, dtype: float64

Week: 6
City: HK

count    3.000000
mean     4.666667
std      0.577350
min      4.000000
25%      4.500000
50%      5.000000
75%      5.000000
max      5.000000
Name: How would you rate your overall satisfaction with the Summer Academy this week?, dtype: float64

Week: 1
City: HK

count    0.0
mean     NaN
std      NaN
min      NaN
25%      NaN
50%      NaN
75%      NaN
max      NaN
Name: How would you rate your overall satisfaction with the Summer Academy this week?, dtype: float64

Week: 4
City: HK

count    0.0
mean     NaN
std      NaN
min      NaN
25%      NaN
50%      NaN
75%      NaN
max      NaN
Name: How would you rate your overall satisfaction with the Summer Academy this week?, dtype: float64

Week: 5
City: HK

count    3.000000
mean     4.666667
std      0.577350
min      4.000000
25%      4.500000
50%      5.000000
75%      5.000000
max      5.000000
Name: How would you rate your overall satisfaction with the Summer Academy this week?, dtype: float64

Week: 2
City: HK

count    0.0
mean     NaN
std      NaN
min      NaN
25%      NaN
50%      NaN
75%      NaN
max      NaN
Name: How would you rate your overall satisfaction with the Summer Academy this week?, dtype: float64

Week: 3
City: HK

count    0.0
mean     NaN
std      NaN
min      NaN
25%      NaN
50%      NaN
75%      NaN
max      NaN
Name: How would you rate your overall satisfaction with the Summer Academy this week?, dtype: float64