# Let do this!

## 2016 Data

In [41]:
#!/usr/bin/env python

import glob
import pandas as pd

from collections import Counter
file_dir = 'datasets/ms_survey_feedback/2016/'

#Create list of column names
df = pd.DataFrame(columns=["Week", "City","Timestamp", "Overall Satisfaction", "Pacing"])

#Get all files except for wierdy week 8 one
filenames = glob.glob(file_dir + 'Anon Week * Feedback - *.csv')

all_files = glob.glob(file_dir + '*.csv')
pd.set_option('display.max_colwidth', 2000)
print("These are all of the 2016 Filenames")
display(pd.DataFrame(all_files))

#Get wierdy week 8 file
week_8 = glob.glob(file_dir + '*Week 8*')
w8_df = pd.read_csv(week_8[0])
print("\n\nDescription of Week 8 Data")
display(w8_df.describe())
display(w8_df.head())
cols = list()
all_headers = list()

# print(filenames)

for file_name in filenames:
    file_data = file_name.split(" ")
    week = file_data[2]
    city = file_data[-1].split('.')
    file_df = pd.read_csv(file_name)
    cols.append(len(list(file_df)))
    all_headers.extend(list(file_df))

num_headers = dict(Counter(all_headers))

# print("number of headers", num_headers)
# print(set(cols))
headers_df = pd.DataFrame(list(num_headers.items()))

print("Table of the number of Occurances of each column name in all CSV's")
df

These are all of the 2016 Filenames

                                                                                    0
0                  datasets/ms_survey_feedback/2016/Anon Week 7 Feedback - Taipei.csv
1                   datasets/ms_survey_feedback/2016/Anon Week 6 Feedback - Tokyo.csv
2               datasets/ms_survey_feedback/2016/Anon Week 1 Feedback - Singapore.csv
3                      datasets/ms_survey_feedback/2016/Anon Week 7 Feedback - LA.csv
4                      datasets/ms_survey_feedback/2016/Anon Week 4 Feedback - SF.csv
5                      datasets/ms_survey_feedback/2016/Anon Week 5 Feedback - SV.csv
6                      datasets/ms_survey_feedback/2016/Anon Week 4 Feedback - SG.csv
7                      datasets/ms_survey_feedback/2016/Anon Week 6 Feedback - NY.csv
8                      datasets/ms_survey_feedback/2016/Anon Week 5 Feedback - HK.csv
9                      datasets/ms_survey_feedback/2016/Anon Week 1 Feedback - SF.csv
10                     datasets/ms_survey_feedback/2016/Anon Week 2 Feedback - LA.csv
11                 datasets/ms_survey_feedback/2016/Anon Week 6 Feedback - Taipei.csv
12                     datasets/ms_survey_feedback/2016/Anon Week 3 Feedback - NY.csv
13                     datasets/ms_survey_feedback/2016/Anon Week 6 Feedback - LA.csv
14                     datasets/ms_survey_feedback/2016/Anon Week 5 Feedback - SF.csv
15                     datasets/ms_survey_feedback/2016/Anon Week 5 Feedback - SG.csv
16                     datasets/ms_survey_feedback/2016/Anon Week 4 Feedback - SV.csv
17                     datasets/ms_survey_feedback/2016/Anon Week 7 Feedback - NY.csv
18  datasets/ms_survey_feedback/2016/Week 8 Feedback (2016, incomplete) - results.csv
19                     datasets/ms_survey_feedback/2016/Anon Week 3 Feedback - LA.csv
20                     datasets/ms_survey_feedback/2016/Anon Week 2 Feedback - NY.csv
21                     datasets/ms_survey_feedback/2016/Anon Week 1 Feedback - SV.csv
22                     datasets/ms_survey_feedback/2016/Anon Week 5 Feedback - LA.csv
23                     datasets/ms_survey_feedback/2016/Anon Week 6 Feedback - SF.csv
24                     datasets/ms_survey_feedback/2016/Anon Week 6 Feedback - SG.csv
25                     datasets/ms_survey_feedback/2016/Anon Week 7 Feedback - SV.csv
26                     datasets/ms_survey_feedback/2016/Anon Week 4 Feedback - NY.csv
27                     datasets/ms_survey_feedback/2016/Anon Week 3 Feedback - SF.csv
28                     datasets/ms_survey_feedback/2016/Anon Week 1 Feedback - NY.csv
29                     datasets/ms_survey_feedback/2016/Anon Week 2 Feedback - SV.csv
30                     datasets/ms_survey_feedback/2016/Anon Week 3 Feedback - SG.csv
31                     datasets/ms_survey_feedback/2016/Anon Week 4 Feedback - LA.csv
32                     datasets/ms_survey_feedback/2016/Anon Week 7 Feedback - SF.csv
33                     datasets/ms_survey_feedback/2016/Anon Week 6 Feedback - SV.csv
34                     datasets/ms_survey_feedback/2016/Anon Week 6 Feedback - HK.csv
35                     datasets/ms_survey_feedback/2016/Anon Week 5 Feedback - NY.csv
36                     datasets/ms_survey_feedback/2016/Anon Week 2 Feedback - SF.csv
37                     datasets/ms_survey_feedback/2016/Anon Week 1 Feedback - LA.csv
38                     datasets/ms_survey_feedback/2016/Anon Week 2 Feedback - SG.csv
39                     datasets/ms_survey_feedback/2016/Anon Week 3 Feedback - SV.csv

Description of Week 8 Data

       How likely is it that you would recommend the Make School Summer Academy to a friend?
count                                                                              65.000000
mean                                                                                8.646154
std                                                                                 1.735932
min                                                                                 3.000000
25%                                                                                 8.000000
50%                                                                                 9.000000
75%                                                                                10.000000
max                                                                                10.000000

                                  #  How likely is it that you would recommend the Make School Summer Academy to a friend?       location                track Start Date (UTC) Submit Date (UTC)  Network ID
0  00b836bda84e6bdbe780af97e249e59f                                                                                     10       New York           summerApps      9/7/16 1:03       9/7/16 1:04  3212b7a834
1  39dde6dc0e1e375845d756fc7e39fc5f                                                                                     10  San Francisco          summerIntro      9/7/16 1:03       9/7/16 1:04  f4954355aa
2  5e56b9de91670b308cb98dd2848b8739                                                                                     10       New York          summerIntro      9/7/16 1:03       9/7/16 1:05  3d69ca289b
3  641081d05785b47a0f17448625da0d49                                                                                      9      Sunnyvale  summerApps (4-week)      9/7/16 1:04       9/7/16 1:06  261608f95d
4  c29bdd4f5678d78b450f4494e0f53c8c                                                                                      3  San Francisco          summerIntro      9/7/16 1:04       9/7/16 1:11  d6672ddf6f

Table of the number of Occurances of each column name in all CSV's

Empty DataFrame
Columns: [Week, City, Timestamp, Overall Satisfaction, Pacing]
Index: []

In [ ]:
#w8_df is week 8 data frame
#all_headers - list of all headers