# SQL Queries

1. Get the player names, player hometowns, school names, player positions, and school conferences for all players with position ‘QB’ or ‘WR’ ``` SELECT player_name, hometown, school_name, position FROM benn.college_football_players WHERE position = 'QB' OR position = 'WR'```

2. Create a table that displays the average height of players at each position. ```Select position, AVG(height) AS averageheight FROM benn.college_football_players GROUP BY position```

3. What is the max/min/average amount of investment money raised by companies in SF that have been acquired at some point?
```SELECT MAX(tutorial.crunchbase_acquisitions.price_amount), MIN(tutorial.crunchbase_acquisitions.price_amount), AVG(tutorial.crunchbase_acquisitions.price_amount) FROM tutorial.crunchbase_acquisitions```
```SELECT MAX(tutorial.crunchbase_investments.raised_amount_usd), MIN(tutorial.crunchbase_investments.raised_amount_usd), AVG(tutorial.crunchbase_investments.raised_amount_usd) FROM tutorial.crunchbase_investments INNER JOIN tutorial.crunchbase_acquisitions ON tutorial.crunchbase_investments.company_name=tutorial.crunchbase_acquisitions.company_name;```

max	min	avg
443000000	4000	12840199.025268694

4.